*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*.dvi
*.ps

*.sln
*.sdf
*.vcxproj
*.filters
*.opendb

Debug
Release
x64
.vs
*.exe

!suffix-array.pdf
!cheat_sheet.pdf

contents.tex
